.box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.material-icons {
  font-size: 2.4em;
  cursor: pointer;
}
.card.persons {
  width: 300px;
}
.card.persons .card-image {
  height: 250px;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}
svg {
  width: 100%;
  height: 100%;
}
.search_field {
  position: relative;
  display: flex;
  width: 50%;
  margin: 35px auto;
}
.search_field input {
  padding-left: 50px;
}
.search_field .filter_icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  overflow: hidden;
  padding: 10px;
}
.card.persons .card-content {
  height: 170px;
}
.card .card-content p {
  text-align: left;
}
.card .card-image .card-title {
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px #ccc;
}
.card-action a {
  color: #0783e4 !important;
}
.card-action a:hover {
  color: #0371c7 !important;
  text-decoration: underline;
}
.cart {
  margin-top: 40px;
}
.collection .collection-item {
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #ee6e73;
  display: block;
  margin-bottom: 20px;
}
.collection .collection-item img {
  width: 150px;
  margin-right: 25px;
}
.item-desc {
  align-self: center;
}
.preloader-wrapper.big {
  margin: 70px auto;
}
.details .card.horizontal {
  width: 100%;
  /* height: 320px; */
  margin-top: 50px;
  align-items: center;
}
.details .card.horizontal .card-content .card-title {
  margin-bottom: 25px;
  font-size: 32px;
}
.details .card.horizontal .card-content p {
  margin-bottom: 10px;
}
.details .card.horizontal .card-content.list span {
  font-size: 18px;
  padding: 5px;
  height: auto !important;
  min-height: 33px !important;
  margin-bottom: 5px;
}
.details .card.horizontal .card-content .tabcontent {
  flex-wrap: wrap;
}
.details .card.horizontal .card-image {
  width: 275px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.details .card.horizontal .card-image img {
  width: 250px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 100%;
}
.tablinks {
  border-bottom: 2px solid transparent;
}
.tablinks.active {
  border-bottom: 2px solid #ee6e73;
}
.breadcrumbs-tab {
  background: transparent;
  box-shadow: none;
  text-align: left;
}
.breadcrumbs-tab a {
  color: #000;
}
.breadcrumbs-tab a:hover {
  text-decoration: underline;
}
.breadcrumbs-tab a:before {
  color: #000;
}
.breadcrumbs-tab a.inactive:hover {
  text-decoration: none;
  cursor: default;
}
@media screen and (max-width: 705px) {
  .box {
    justify-content: center;
  }
  .search_field {
    width: 100%;
  }
  .details .card.horizontal {
    flex-direction: column;
    height: auto;
  }
  .details .card.horizontal .card-image {
    max-width: 100%;
    width: 100%;
    height: 275px;
  }
}
